body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  inline-size: 100%;
  block-size: 100vh;
  display: grid;
  margin: 0 auto;
  grid-gap: 1px;
  grid-template-rows: 0.05fr 0.06fr 1fr;
}
