.month-container {
  display: grid;
  margin: 0 auto;
  inline-size: 100%;
  block-size: 100%;
}

.week-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cell {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  inline-size: 100%;
  border-left: solid 1px lightgray;
  border-top: solid 1px lightgray;
}

.cell:hover {
  background-color: lightgray;
}

.cell_saturday {
  color: blue;
}

.cell_sunday {
  color: red;
}

.cell_current-day {
  background: rgba(255, 0, 0, 0.1);
}
