.month-container {
  display: grid;
  margin: 0 auto;
  inline-size: 100%;
  block-size: 100%;
  grid-gap: 1px;
}

.week-container {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1px;
}

.cell {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  inline-size: 100%;
  outline: solid 1px black;
}

.cell:hover {
  background-color: gray;
}

.cell_saturday {
  color: blue;
}

.cell_sunday {
  color: red;
}

.cell_current-day {
  background: rgba(255, 0, 0, 0.1);
  outline: solid 2px red;
}
